name: CI/CD

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  IMAGE_NAME: ${{ github.repository }}
  REGISTRY: ghcr.io

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Cargo cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ./target
          key: build-cargo-registry-x86_64-unknown-linux-gnu
      - name: Run tests
        run: cargo test --all-features --verbose

  docker:
    name: Build Docker image
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=tag
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build:
    name: Build binary - ${{ matrix.LABEL }}
    needs: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - TARGET: x86_64-unknown-linux-gnu
            OS: ubuntu-latest
            LABEL: Linux (x86-64)
          - TARGET: aarch64-unknown-linux-gnu
            OS: ubuntu-latest
            LABEL: Linux (ARM64)
          - TARGET: arm-unknown-linux-gnueabihf
            OS: ubuntu-latest
            LABEL: Linux (Armv6)
          - TARGET: x86_64-apple-darwin
            OS: macos-latest
            LABEL: macOS (x86-64)
          - TARGET: aarch64-apple-darwin
            TARGET_CXX: zigcxx
            TARGET_AR: zigar
            OS: macos-latest
            LABEL: macOS (ARM64)
          - TARGET: x86_64-pc-windows-msvc
            OS: windows-latest
            LABEL: Windows (x86-64)
          - TARGET: aarch64-pc-windows-msvc
            OS: windows-latest
            LABEL: Windows (ARM64)
    runs-on: ${{ matrix.OS }}
    env:
      NAME: yurizaki
      TARGET: ${{ matrix.TARGET }}
      TARGET_CC: ${{ matrix.TARGET_CC }}
      TARGET_CXX: ${{ matrix.TARGET_CXX }}
      TARGET_AR: ${{ matrix.TARGET_AR }}
      OS: ${{ matrix.OS }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Cargo cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ./target
          key: build-cargo-registry-${{ matrix.TARGET }}
      - name: Install and configure dependencies
        shell: bash
        run: |
          if [[ $OS =~ ^ubuntu.*$ ]]; then
            sudo apt-get update
            sudo apt-get install -qq crossbuild-essential-arm64 crossbuild-essential-armhf musl-tools
          fi
          if [[ $TARGET == "aarch64-apple-darwin" ]]; then
            brew install zig
            mkdir ~/bin
            cat >>~/bin/zigcxx <<'  EOF'
            #!/bin/bash
            zig c++ -target aarch64-macos $@
            EOF
            cat >>~/bin/zigar <<'  EOF'
            #!/bin/bash
            zig ar $@
            EOF
            chmod +x ~/bin/zigcxx
            chmod +x ~/bin/zigar
          fi
          # some additional configuration for cross-compilation on linux
          cat >>~/.cargo/config <<-'EOF'
          [target.aarch64-unknown-linux-gnu]
          linker = "aarch64-linux-gnu-gcc"
          [target.aarch64-unknown-linux-musl]
          linker = "aarch64-linux-gnu-gcc"
          [target.arm-unknown-linux-gnueabihf]
          linker = "arm-linux-gnueabihf-gcc"
          [target.arm-unknown-linux-musleabihf]
          linker = "arm-linux-gnueabihf-gcc"
          EOF
      - name: Install Rust target
        shell: bash
        run: rustup target add $TARGET
      - name: Run build
        shell: bash
        run: cargo build --release --all-features --verbose --target $TARGET
      - name: Compress
        shell: bash
        run: |
          mkdir -p ./artifacts
          if [[ $OS =~ ^macos.*$ ]]; then
            export PATH="$(brew --prefix gnu-tar)/libexec/gnubin:$PATH"
          fi
          if [[ $OS =~ ^windows.*$ ]]; then
              EXEC=$NAME.exe
          else
              EXEC=$NAME
          fi
          mv ./target/$TARGET/release/$EXEC ./$EXEC
          tar -czf ./artifacts/$NAME-$TARGET-${GITHUB_REF_NAME//\//-}.tar.gz $EXEC
      - name: Archive artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-artifact-${{ matrix.TARGET }}
          path: |
            ./artifacts

  deploy:
    name: Attach downloads to release
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: ./artifacts
          pattern: build-artifact-*
          merge-multiple: true
      - name: Release to GitHub
        uses: softprops/action-gh-release@v2
        with:
          files: ./artifacts/*.tar.gz
